:root {
  --font-title: "Sansita", sans-serif;
  --body-font: "Sriracha", cursive;
}

body {
  background: rgb(255, 255, 255);
}

em {
  color: rgb(194, 68, 68);
}
strong {
  font-weight: 500;
  color: rgb(16, 0, 109);
  border-bottom: 2px dotted rgb(16, 0, 109);
}

.hero {
  padding: 100px 15px;
  height: 100vh;
  text-align: center;
  background: rgb(205, 241, 245);
}

h1 {
  font-family: var(--font-title);
  font-size: 90px;
  color: rgb(16, 0, 109);
}

h2 {
  font-family: var(--body-font);
}

ul {
  display: flex;
  justify-content: center;
}

li {
  font-size: 11px;
  list-style-type: none;
  margin: 15px;
  background: orange;
  box-shadow: 3px 3px 5px rgb(157, 156, 168);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 430px) {
  h1 {
    font-size: 50px;
  }

  li {
    margin: 5px;
    border-radius: 4px;
  }
}

.arrow-down {
  margin: 0 auto;
  width: 25px;
  color: rgb(16, 0, 109);
  transition: 200ms all ease-in-out;
}

.arrow-down:hover {
  position: relative;
  top: 5px;
}

#about {
  background: rgb(148, 242, 245);
  width: 100%;
  height: 100vh;
}

.about-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: justify;
}

.information {
  background: rgb(201, 249, 255);
  padding: 10px;
  margin: 10px;
  width: 400px;
  border-radius: 5px;
  border-top: 5px solid orange;
}

.story {
  font-size: 12px;
}
.stats {
  background: rgb(201, 249, 255);
  padding: 10px;
  margin: 10px;
  width: 600px;
  height: auto;
  border-radius: 5px;
  border-bottom: 5px solid orange;
}

.hobbies {
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
}

@media (max-width: 430px) {
  .hobbies {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .hobbies {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

#projects {
  background: rgb(102, 190, 224);
  width: 100%;
  height: auto;
  padding: 70px 0px;
  z-index: -11111;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-auto-rows: auto;
  justify-content: center;
  z-index: -2;
}

.project-list img {
  width: 100%;
  padding: 5px;
  background: #fff;
  height: 450px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

@media (max-width: 340px) {
  .project-list {
    grid-template-columns: 50vw;
    grid-template-rows: auto;
  }
}

.wrapper {
  background: #252525;
  height: 450px;
}
.project-description {
  position: relative;
  top: -300px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  z-index: 3;
  visibility: hidden;
}
.wrapper:hover .project-description {
  z-index: 3;
  visibility: visible;
}
.project-list img:hover {
  opacity: 0.3;
}
